In [1]:
import pandas as pd

In [2]:
tabela = pd.read_csv("../../data/temperaturas.csv", delimiter=";", index_col="dia")

In [3]:
tabela

       clima temperatura  vento  umidade
dia
seg      sol       12,79     13       30
ter      sol       19,67     28       96
qua      sol       17,51     16       20
qui  nublado       14,44     11       22
sex    chuva       10,51     26       79
sab    chuva       11,07     27       62
dom      sol        17,5     20       10

In [4]:
#Podemos usar o loc para pegar os indíces pelo nome da linha e coluna

tabela.loc['qua', 'clima']

'sol'

In [5]:
#Podemos definir os parâmetros em variáveis
dias = ['seg', 'qua', 'sex']
colunas = ['temperatura', 'umidade']

In [6]:
tabela.loc[dias,colunas]

    temperatura  umidade
dia
seg       12,79       30
qua       17,51       20
sex       10,51       79

In [7]:
# Separando por condicionais
tabela.loc[tabela.umidade > 50, :]

     clima temperatura  vento  umidade
dia
ter    sol       19,67     28       96
sex  chuva       10,51     26       79
sab  chuva       11,07     27       62

In [8]:
tabela.loc[(tabela.umidade > 50) & (tabela.clima == 'chuva'), :]

     clima temperatura  vento  umidade
dia
sex  chuva       10,51     26       79
sab  chuva       11,07     27       62